@page "/Products/getall"
@model ProductsApp.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products";
}

<h2 class="text-center mb-4">Products</h2>
<a class="btn btn-primary btn-lg mb-4" href="/Products/Create">New Product</a>

<table class="mx-auto table table-dark text-center">
    <thead>
        <tr><th colspan="6 ">Products</th></tr>
        <tr">
            <th>Κωδικός</th>
            <th>Όνομα</th>
            <th>Τιμή</th>
            <th>Ποσότητα</th>
            <th>Χρώμα</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Products.Count != 0)
        {
            foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity</td>
                    <td>@product.Colour</td>
                    <td>
                        <a class="btn btn-primary" href="/Products/@product.Id/Update">Edit</a>
                        <a class="btn btn-primary" href="javascript:void(0)" onclick="confirmDelete(@product.Id)">Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody
    </table>
<div>      
    @if (Model.ErrorObj is not null) 
    {
    <p>@Model.ErrorObj.Message</p>
    }
</div>

<script src="~/js/product.js"></script>
                    